/* =============================== */
/* GRADIENT + PARALLAX BACKGROUND */
/* =============================== */

/* LIGHT MODE */
.testimonial-section {
    padding: 140px 8%;
    text-align: center;
    background: linear-gradient(135deg, #ffffff, #f8fafc);
    color: #0f172a;
    position: relative;
    overflow: hidden;
}

/* DARK MODE */
body.dark .testimonial-section {
    background: linear-gradient(135deg, #0f172a, #1e293b, #334155);
    color: white;
}

/* SECTION TITLE */
.section-title {
    font-size: 2.6rem;
    margin-bottom: 70px;
}

/* CARD */
/* LIGHT MODE CARD */
.testimonial-card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    transition: 0.3s ease;
    text-align: left;
    position: relative;
}

/* DARK MODE CARD */
body.dark .testimonial-card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
}


/* QUOTE ICON */
.quote-icon {
    font-size: 60px;
    position: absolute;
    top: 15px;
    right: 20px;
    opacity: 0.1;
    animation: float 3s ease-in-out infinite;
}

/* FLOAT ANIMATION */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0px); }
}

/* IMAGE */
.testimonial-card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #f97316;
}

/* TEXT */
.testimonial-card p {
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 20px;
}
.testimonial-card p {
    color: #475569;
}

body.dark .testimonial-card p {
    color: #cbd5e1;
}


/* STARS */
.stars {
    color: #f59e0b;
    font-size: 18px;
    margin-bottom: 15px;
}

/* NAME */
.testimonial-card h4 {
    margin: 0;
    font-size: 17px;
}

.testimonial-card span {
    font-size: 14px;
    color: #f97316;
}

/* SWIPER BULLETS */
.swiper-pagination-bullet {
    background: #f97316 !important;
}
